* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.the-container {
  width: 100%;
  height: 500vh;
  display: flex;
  flex-direction: column !important;
}

.container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Added relative positioning to act as a reference for absolute positioning */
}

.container .background-cover-lyt {
  width: 100%;
  height: 800px;
  position: relative; /* Changed absolute to relative */
  background-image: url(/assets/0_AGP_MDM_181021BRIGHTON_006JPG.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-image 0.5s ease; /* Add smooth transition effect */
}

.container .background-cover-lyt .card-overlay {
  width: 100%;
  height: 100%; /* Adjusted height to cover the entire container */
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  width: 75%;
  height: 120px;
  background-color: #fff;
  margin-top: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.header-wrapper .brand-logo {
  margin-left: 12px;
  height: 68px;
  background-color: #26b170;
  padding: 0 14px;
  width: 320px;
  text-wrap: wrap;
  text-align: left;
  color: #fff;
  font-size: 30px;
  font-weight: 1000;
  display: flex;
  line-height: 25px;
  align-items: center;
}

.header-wrapper .menu {
  width: auto;
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0 14px;
}

.menu .menu-items {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
  cursor: pointer;
  color: #333;
  position: relative; /* Ensure relative positioning for pseudo-element */
  text-decoration: none; /* Remove default underline */
}

.menu .menu-items::before {
  content: ""; /* Create a pseudo-element for the underline */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Initial width, will transition to full width on hover */
  height: 2px; /* Adjust the thickness of the underline */
  background-color: #26b170;
  transition: width 0.3s ease; /* Adjust the duration and easing as needed */
}

.menu .menu-items:hover::before {
  width: 100%; /* Increase the width on hover */
}

.background-cover-lyt .greeting-content {
  width: 100%;
  height: 600px;

  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 40px 200px;
}

.greeting-content .greeting-title {
  color: #fff;
  font-size: 128px;
  font-weight: 800;
  width: min-content;
  text-wrap: wrap;
  line-height: 110px;
}

.greeting-content .desc {
  color: #ffffffdf;
  font-weight: 400;
  font-size: 32px;
  width: 68%;
  text-wrap: wrap;
  padding: 34px 0;
}

.my-btn {
  width: 300px;
  height: 70px;
  cursor: pointer;
  font-size: 24px;
  outline: none;
  background-color: #26b170;
  color: #fff;
  border: none;
  font-weight: 800;
  letter-spacing: -1px;
}

.my-btn:hover {
  opacity: 0.9;
}

/* about us container*/

.the-container .about-us-container {
  width: 100%;
  height: auto;
  padding: 120px 60px;
  z-index: 9;
}

.about-us-container .title {
  color: #333;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 60px;
}

.about-us-container .desc {
  color: #333;
  margin: 10px 0;
  font-size: 27px;
  line-height: 36px;
  font-weight: 500;
}

.about-us-container .quote {
  font-size: 27px;
  font-weight: 800;
  color: #333;
  letter-spacing: -1px;
}

/* services container */

.the-container .services-container {
  width: 100%;
  height: auto;
  z-index: 999;
  padding: 120px 60px;
  z-index: 9;
}

.services-container .title {
  color: #333;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-top: -50px;
  margin-bottom: 40px;
}

.services-container .desc {
  color: #333;
  margin: 10px 0;
  font-size: 27px;
  line-height: 36px;
  font-weight: 500;
}

.services-container .desc .atten {
  color: #26b170;
  font-size: 27px;
  cursor: pointer;
}

.services-container .desc .atten:hover {
  opacity: 0.9;
}

.services-container .desc-menu {
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.desc-menu li {
  font-size: 27px;
}

.services-container .services-content-wrapper {
  display: flex;
}

.services-content-wrapper .desc-menu {
  width: 30%;
}

.services-content-wrapper .image-gallery-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.image-gallery-wrapper .image-box1,
.image-box2 {
  width: 100%;
  height: 50%;
}

.img-preview {
  width: 400px;
  height: 400px;
  cursor: pointer;
}

.image-box1,
.image-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

/* contact us container */

.the-container .contact-us-container {
  width: 100%;
  height: auto;
  z-index: 999;
  padding: 20px 60px;
  z-index: 9;
}

.contact-us-container .title {
  color: #333;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-top: 40px;
}

.contact-us-container .touch-text {
  font-size: 27px;
  padding: 30px 0;
}

.contact-us-container .contact-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact-us-container .contact-box {
  height: auto;
  width: 100%;
  padding: 40px 0;
}

/* footer container */

.the-container .footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  height: 200px;
  width: 100%;
  background-color: #26b170;
}

.footer-container .footer-text {
  opacity: 0.5;
}

.image-gallery-wrapper {
  display: flex;
}
.image-box1,
.image-box2 {
  margin: 10px;
}

/* Popup styling */
#imagePopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 999; /* Set a higher z-index value */
}
#popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#popupImage {
  max-width: 80vw;
  max-height: 80vh;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #333333ec;
  font-size: 30px;
}

#closeButton:hover {
  color: black;
}

#imagePopup .header-wrapper {
  display: none !important; /* Remove this rule */
}

/* Mobile Responsive Styles*/

/* Hamburger menu styles */
.hamburger-menu {
  display: none; /* Initially hide the hamburger menu on larger screens */
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 11; /* Set a higher z-index value to appear above other elements */
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}

/* Your existing media queries for responsiveness */
@media (max-width: 768px) {
  /* Hamburger menu styles for smaller screens */
  .hamburger-menu {
    display: block;
    margin-top: 18px;
  }

  .header-wrapper {
    width: 100%;
    background-color: #fff;
    padding: 0 12px;
    position: fixed;
    margin-top: 0 !important;
  }

  .header-wrapper .brand-logo {
    margin-left: 0;
    font-size: 22px;
    width: 260px;
  }

  .header-menu {
    width: 100%;
  }

  /* Adjust your existing styles for smaller screens if needed */
  .menu-items {
    display: none;
  }

  .menu {
    display: none;
  }

  .header-wrapper .phone-box {
    font-size: 15px;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    align-items: center;
    right: 85px;
  }

  .header-wrapper .phone-box span {
    font-size: 18px;
  }

  .menu.show-menu {
    display: flex;
    flex-direction: column; /* Display menu items in a column */
    position: absolute;
    top: 120px; /* Adjust as needed */
    padding: 20px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff; /* Add your desired background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .menu.show-menu .menu-items {
    display: block; /* Show menu items when the show-menu class is applied */
  }

  /* image layout */

  .container .background-cover-lyt {
    width: 100%;
    height: 700px !important;
    position: relative; /* Changed absolute to relative */
    background-image: url(/assets/0_AGP_MDM_181021BRIGHTON_006JPG.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-image 0.5s ease; /* Add smooth transition effect */
  }

  .container .background-cover-lyt .card-overlay {
    width: 100%;
    height: 100%; /* Adjusted height to cover the entire container */
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .greeting-content {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 180px 24px !important;
  }

  .greeting-content .greeting-title {
    width: 100%;
    color: #fff;
    font-size: 55px !important;
    width: min-content;
    font-weight: 1000 !important;
    margin: 20px 12px;
    line-height: 50px;
  }

  .greeting-content .desc {
    color: #ffffffdf;
    font-weight: 100 !important;
    font-size: 26px !important;
    width: 80%;
    text-wrap: wrap;
    padding: 0 12px;
  }

  .my-btn {
    width: 210px;
    height: 50px !important;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    background-color: #26b170;
    color: #fff;
    border: none;
    font-weight: 800;
    letter-spacing: -1px;
    margin: 0 12px;
    margin-top: 12px;
  }

  /* about us container*/

  .the-container .about-us-container {
    width: 100%;
    height: auto;
    padding: 40px 24px;
    z-index: 9;
  }

  .about-us-container .title {
    color: #333;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-bottom: 30px;
  }

  .about-us-container .desc {
    color: #333;
    margin: 10px 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
  }

  .about-us-container .quote {
    font-size: 13px;
    font-weight: 800;
    color: #333;
    letter-spacing: -1px;
  }

  /* services container */

  .the-container .services-container {
    width: 100%;
    height: auto;
    z-index: 999;
    padding: 80px 24px;
    z-index: 9;
  }

  .services-container .title {
    color: #333;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-top: -50px;
    margin-bottom: 30px;
  }

  .services-container .desc {
    color: #333;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
  }

  .services-container .desc .atten {
    color: #26b170;
    font-size: 13px;
    cursor: pointer;
  }

  .services-container .desc .atten:hover {
    opacity: 0.9;
  }

  .services-container .desc-menu {
    width: 100% !important;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
  }

  .desc-menu li {
    font-size: 34px;
  }

  .services-container .services-content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .services-content-wrapper .desc-menu {
    width: 100%;
  }

  .services-content-wrapper .image-gallery-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    gap: 18px;
  }

  .image-gallery-wrapper .image-box1,
  .image-box2 {
    width: 100% !important;
    height: 50%;
    padding: 0 !important;
    margin: 0 !important;
  }

  .img-preview {
    width: 100%;
    height: 50%;
    cursor: pointer;
  }

  .image-box1,
  .image-box2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .last-desc {
    color: #333;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    padding: 34px 0;
  }

  /* contact us container */

  .the-container .contact-us-container {
    width: 100%;
    height: auto;
    z-index: 999;
    padding: 0 24px;
    z-index: 9;
  }

  .contact-us-container .title {
    color: #333;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-top: -40px;
  }

  .contact-us-container .touch-text {
    font-size: 27px;
    padding: 50px 0;
  }

  .contact-us-container .contact-box {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .contact-us-container .contact-box {
    height: auto;
    width: 100%;
    padding: 40px 0;
  }

  /* footer container */

  .the-container .footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 40px;
    height: 300px;
    width: 100%;
    background-color: #26b170;
  }

  .footer-container .footer-text {
    color: #172d23;
  }

  .image-gallery-wrapper {
    display: flex;
  }
  .image-box1,
  .image-box2 {
    margin: 10px;
  }

  /* Popup styling */
  #imagePopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999; /* Set a higher z-index value */
  }
  #popupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #popupImage {
    max-width: 80vw;
    max-height: 80vh;
  }

  #closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #333333ec;
    font-size: 30px;
  }

  #closeButton:hover {
    color: black;
  }

  #imagePopup .header-wrapper {
    display: none !important; /* Remove this rule */
  }
}
